node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
yarn.lock
pnpm-lock.yaml
.env
rootkey.csv
bundle.js
Dictaphone.tsx
VoiceToggle.tsx
voiceContext.tsx
helperFuncs
VoiceControl2.tsx
SearchBarAdvancedzzz.tsx

